<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="TinyblogPostgre" connectionString="Server=localhost;Port=5432;User Id=tinyblog;Password=test;Database=TinyBlog"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="Tinyblog.Services.TinyblogController">
                <endpoint address="net.tcp://localhost:25005/TinyBlogService"
                          binding="netTcpBinding"
                          contract="Tinyblog.Contracts.Services.ITinyblogService"/>
                <!--<endpoint address="http://localhost:25006/TinyBlogService"
                          binding="wsHttpBinding"
                          contract="Tinyblog.Contracts.Services.ITinyblogService"/>-->
            </service>
        </services>
    </system.serviceModel>

</configuration>