<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://localhost:25005/TinyBlogService"
                      binding="netTcpBinding"
                      contract="Tinyblog.Contracts.Services.ITinyblogService"
                      name="tcp"/>
            <endpoint address="http://localhost:25006/TinyBlogService"
                      binding="wsHttpBinding"
                      contract="Tinyblog.Contracts.Services.ITinyblogService"
                      name="ws"/>
        </client>
    </system.serviceModel>
</configuration>